<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.finalproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProject"
        tools:targetApi="31">
        <activity
            android:name=".activity_update_checklist"
            android:parentActivityName=".record_checklist"/>
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".record_checklist" />
        <activity
            android:name=".activity_update_note"
            android:parentActivityName=".record_note">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".record_note" />
        </activity>
        <activity
            android:name=".activity_checklist_detail"
            android:parentActivityName=".activity_checklist_dialog">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity_checklist_dialog" />
        </activity>
        <activity
            android:name=".activity_checklist_dialog"
            android:parentActivityName=".record_checklist">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".record_checklist" />
        </activity>
        <activity
            android:name=".activity_note_dialog"
            android:parentActivityName=".record_note">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".record_note" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".record_checklist"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".record_note"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".record_status"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <receiver android:name=".AlarmReceiver" />
    </application>

</manifest>